<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="/user/adddo" method="post">
		<input type="text" name="nickname" id="nickname">
		<input type="text" name="email" id="email">
		<input type="text" name="birthday" id="birthday">
		<input type="submit" value="put it in!">
		<select name="classes_id" id="classes_id">
			{volist name="list" id="classes"}
			<option value="{$classes.id}">{$classes.year.$classes.major.$classes.subclass}</option>
			{/volist}
		</select>
		<select name="sex" id="sex">
			<option value="男">男</option>
			<option value="女">女</option>
		</select>
	</form>
</body>
</html>