<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>查看用户列表</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
</head>
<body>

<!-- volist标签的name属性就是模板变量的名称，id属性则是定义每次循环输出的变量，
在volist标签中间使用user.id表示输出当前用户的id属性，
以此类推下面的内容则依次输出用户的相关属性。 -->
<h2>用户列表（{$list->total()}）</h2>
{volist name="list" id="user"}
ID：{$user.id}<br/>
昵称：{$user.nickname}<br/>
性別：{$user.sex}<br/>
邮箱：{$user.email}<br/>
生日：{$user.birthday}<br/>
班级：{$user->classes->year.$user->classes->major.$user->classes->subclass}<br/>
<a href="/user/edit/{$user.id}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/delete/{$user.id}">删除</a><br>
------------------------<br/>
{/volist}
{$list->render()}

</body>
</html>